html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "NanumSquareNeoOTF-Rg", KCC-Ganpan, sans-serif;
}
ul {
  list-style: none;
}

.Thumbnail_Wrapper {
  display: flex;
  height: 120px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
}
.Thumbnail_Wrapper::-webkit-scrollbar {
  width: 10px;
}
.Thumbnail_Wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.textarea {
  resize: none;
  width: 12rem;
  min-height: 6rem;
  border: none;
  outline-color: #ac473d;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.inputNickname {
  border: none;
  border-radius: 1rem;
  padding: 0px 12px;
  width: 9rem;
  margin-right: 7px;
}

.addButton {
  width: 100px;
  height: 100px;
  border: white;
  border-style: dashed;
  border-width: thick;
  background-image: url(/assets/image/sendPresents/whitePlus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.imageContainer {
  margin-left: 5px;
}

#present_img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
#file {
  display: none;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: white !important;
}
