@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "NanumSquareNeoOTF-Eb";

  /* 
    src: 사용할 폰트의 위치 및 형식 
        Safari, Android, iOS => truetype
        Modern Browsers => woff
        Super Modern Browsers => woff2
        IE6-IE8 => embedded-opentype
    */
  src: url("./NanumSquareNeo/NanumSquareNeoOTF-Eb.otf") format("woff2"),
    url("./NanumSquareNeo/NanumSquareNeoOTF-Eb.otf") format("woff"),
    url("./NanumSquareNeo/NanumSquareNeoOTF-Eb.otf") format("truetype");
}

@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "NanumSquareNeoOTF-Rg";

  /* 
      src: 사용할 폰트의 위치 및 형식 
          Safari, Android, iOS => truetype
          Modern Browsers => woff
          Super Modern Browsers => woff2
          IE6-IE8 => embedded-opentype
      */
  src: url("./NanumSquareNeo/NanumSquareNeoOTF-Rg.otf") format("woff2"),
    url("./NanumSquareNeo/NanumSquareNeoOTF-Rg.otf") format("woff"),
    url("./NanumSquareNeo/NanumSquareNeoOTF-Rg.otf") format("truetype");
}

@font-face {
  /* 1) 가장 두꺼움 */
  font-family: "NanumSquareNeoOTF-Hv";
  src: url("./NanumSquareNeo/NanumSquareNeoOTF-Hv.otf") format("woff2"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Hv.otf") format("woff"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Hv.otf") format("truetype");
}
@font-face {
  /* 2) 두번째로 두꺼움 */
  font-family: "NanumSquareNeoOTF-Bd";
  src: url("./NanumSquareNeo/NanumSquareNeoOTF-Bd.otf") format("woff2"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Bd.otf") format("woff"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Bd.otf") format("truetype");
}
@font-face {
  /* 5) 얇음 */
  font-family: "NanumSquareNeoOTF-Lt";
  src: url("./NanumSquareNeo/NanumSquareNeoOTF-Lt.otf") format("woff2"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Lt.otf") format("woff"),
  url("./NanumSquareNeo/NanumSquareNeoOTF-Lt.otf") format("truetype");
}
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}